@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
@import "tailwindcss";

@theme {
  --noto-sans: "Noto Sans", sans-serif;
  --electrolize: "Electrolize", sans-serif;
  --arvo: "Arvo", serif;
  --bg: #111111;
  --white: #eef2f6;
  /* apply this white to everything that should have it */
  --gray: #babbbd;
  --main-light-blue: #76c4ff;
  --main-dark-blue: rgb(51, 78, 98);
  --main-dark-blue-40: rgba(51, 78, 98, 0.4);
  --main-dark-blue-70: rgba(51, 78, 98, 0.7);

  --main-button-gradient: linear-gradient(to right, #7696ff, #1f4ad6);
  --button-gradient: linear-gradient(
    to right,
    rgba(10, 49, 78, 0.5),
    #0a314e,
    rgba(10, 49, 78, 0.5)
  );
}

@layer base {
  body {
    color: var(--white);
    background-color: var(--bg);
    font-family: var(--arvo);
    overflow: scroll;
    overflow-x: hidden;
  }
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}

.app-container {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg);
  background: linear-gradient(180deg, #06141f 0%, #01090f 100vh, #000407 200vh);
}

@layer utilities {
  .electrolize {
    font-family: var(--electrolize);
  }
  .noto-sans {
    font-family: var(--noto-sans);
  }

  .arvo {
    font-family: var(--arvo);
  }

  .main-btn {
    @apply flex items-center text-(--white) [background-image:var(--main-button-gradient)] w-fit py-3 pl-12 px-10 rounded-4xl hover:cursor-pointer;
    background-size: 150% 100%; /* make it bigger than the button */
    background-position: 0% 0%;
    animation: btn-bg-move-gradient 6s ease-in-out infinite reverse;
  }

  .action-btn {
    @apply flex items-center justify-center text-(--white) border-(--main-dark-blue) [background-image:var(--button-gradient)] hover:cursor-pointer hover:border-[#a4c1d6] transition-colors duration-500 ease-in-out;
  }

  .input-box {
    @apply rounded-sm border-3 border-(--main-dark-blue-40) bg-[#04121C] flex items-center focus:border-(--main-dark-blue-70) focus-within:border-(--main-dark-blue-70) transition-colors duration-300 ease-in-out;
  }

  .checkbox {
    @apply h-5 w-5 flex items-center justify-center relative cursor-pointer border border-(--main-dark-blue-40) rounded-sm bg-[#081b29] hover:border-(--main-dark-blue-70);
  }

  .features-card {
    @apply z-10 flex flex-col w-70 mx-8 border  border-[#031725] rounded-md p-7 bg-[#ffffff] text-(--white);
    background: linear-gradient(200deg, #010e18 0%, #01090f 50%, #000407 100%);
    background-size: 150% 100%;
  }

  .icon-box {
    @apply border border-[#fff0] rounded-md w-fit p-1.5 mb-1 transition-all duration-300 ease-in-out group-hover:bg-blue-300/20 group-hover:border-(--main-light-blue) group-hover:shadow-[0px_0px_20px_10px_#76c4ff1e];
  }

  .features-card:hover {
    box-shadow: 0px 0px 20px 10px #76c4ff07;
    background-position: 100% 0%;
  }

  .hero-text-glow {
    text-shadow:
      0 0 30px var(--main-light-blue),
      0 0 5px var(--main-light-blue);
    animation: text-glow-breathe 5s ease-in-out infinite alternate;
  }

  .hero-glow {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -20%);
    width: 140vw;
    height: 120px;
    background: radial-gradient(
      ellipse at center,
      rgba(74, 155, 218, 0.2) 60%,
      rgba(77, 148, 202, 0.12) 50%,
      rgba(77, 149, 204, 0.06) 50%,
      transparent 70%
    );
    filter: blur(40px);

    animation:
      glow-move 14s ease-in-out infinite alternate,
      glow-breathe 7s ease-in-out infinite alternate;
  }

  .glow-white-default {
    @apply -top-60 opacity-0 absolute h-100  w-0 z-20;
    transform: rotate(20deg);
    box-shadow: 0px 0px 200px 25px var(--white);
    animation: spotlight-glow-white 12s linear infinite alternate;
  }

  .delayed-white-glow {
    animation-delay: 3s;
  }

  .glow-blue-default {
    @apply -top-60 absolute h-100 w-0 opacity-10 z-20;
    transform: rotate(20deg);
    box-shadow: 0px 0px 100px 100px var(--main-light-blue);
    animation: spotlight-glow-blue 7s linear infinite alternate;
  }

  .delayed-blue-glow {
    animation-delay: 1s;
  }

  .glow-middle {
    @apply left-[51vw] -top-10 opacity-0 absolute h-100  w-0 z-20;
    transform: rotate(10deg);
    box-shadow: 0px 0px 600px 160px var(--main-light-blue);
    animation-delay: 500ms;
    animation: spotlight-glow-middle 7s linear infinite alternate;
  }

  .animate-glow {
    animation: glow 2s ease-in-out infinite alternate;
  }

  .wave-animation {
    animation: wave-infinite 3s linear infinite alternate-reverse;
  }

  .animate-shake {
    animation: shake 0.35s ease-in-out;
  }

  @keyframes wave-infinite {
    0% {
      clip-path: polygon(
        100% 100%,
        0% 100%,
        0% 15.19%,
        2% 14.74%,
        4% 14.16%,
        6% 13.46%,
        8% 12.68%,
        10% 11.83%,
        12% 10.95%,
        14% 10.08%,
        16% 9.23%,
        18% 8.44%,
        20% 7.74%,
        22% 7.15%,
        24% 6.7%,
        26% 6.4%,
        28% 6.26%,
        30% 6.28%,
        32% 6.47%,
        34% 6.82%,
        36% 7.32%,
        38% 7.94%,
        40% 8.66%,
        42% 9.47%,
        44% 10.33%,
        46% 11.22%,
        48% 12.09%,
        50% 12.92%,
        52% 13.68%,
        54% 14.34%,
        56% 14.89%,
        58% 15.29%,
        60% 15.54%,
        62% 15.62%,
        64% 15.55%,
        66% 15.3%,
        68% 14.9%,
        70% 14.37%,
        72% 13.71%,
        74% 12.95%,
        76% 12.12%,
        78% 11.25%,
        80% 10.37%,
        82% 9.5%,
        84% 8.69%,
        86% 7.96%,
        88% 7.34%,
        90% 6.84%,
        92% 6.48%,
        94% 6.29%,
        96% 6.26%,
        98% 6.39%,
        100% 6.69%
      );
    }
    50% {
      transform: translateX(8px);
      clip-path: polygon(
        100% 100%,
        0% 100%,
        0% 7.81%,
        2% 5.77%,
        4% 4.25%,
        6% 3.35%,
        8% 3.14%,
        10% 3.65%,
        12% 4.82%,
        14% 6.58%,
        16% 8.79%,
        18% 11.29%,
        20% 13.87%,
        22% 16.35%,
        24% 18.54%,
        26% 20.26%,
        28% 21.4%,
        30% 21.87%,
        32% 21.62%,
        34% 20.68%,
        36% 19.12%,
        38% 17.05%,
        40% 14.64%,
        42% 12.07%,
        44% 9.53%,
        46% 7.21%,
        48% 5.3%,
        50% 3.94%,
        52% 3.22%,
        54% 3.21%,
        56% 3.9%,
        58% 5.25%,
        60% 7.15%,
        62% 9.45%,
        64% 11.99%,
        66% 14.56%,
        68% 16.98%,
        70% 19.06%,
        72% 20.64%,
        74% 21.6%,
        76% 21.87%,
        78% 21.43%,
        80% 20.31%,
        82% 18.6%,
        84% 16.42%,
        86% 13.95%,
        88% 11.36%,
        90% 8.87%,
        92% 6.65%,
        94% 4.87%,
        96% 3.67%,
        98% 3.15%,
        100% 3.33%
      );
    }
    100% {
      clip-path: polygon(
        100% 100%,
        0% 100%,
        0% 15.19%,
        2% 14.74%,
        4% 14.16%,
        6% 13.46%,
        8% 12.68%,
        10% 11.83%,
        12% 10.95%,
        14% 10.08%,
        16% 9.23%,
        18% 8.44%,
        20% 7.74%,
        22% 7.15%,
        24% 6.7%,
        26% 6.4%,
        28% 6.26%,
        30% 6.28%,
        32% 6.47%,
        34% 6.82%,
        36% 7.32%,
        38% 7.94%,
        40% 8.66%,
        42% 9.47%,
        44% 10.33%,
        46% 11.22%,
        48% 12.09%,
        50% 12.92%,
        52% 13.68%,
        54% 14.34%,
        56% 14.89%,
        58% 15.29%,
        60% 15.54%,
        62% 15.62%,
        64% 15.55%,
        66% 15.3%,
        68% 14.9%,
        70% 14.37%,
        72% 13.71%,
        74% 12.95%,
        76% 12.12%,
        78% 11.25%,
        80% 10.37%,
        82% 9.5%,
        84% 8.69%,
        86% 7.96%,
        88% 7.34%,
        90% 6.84%,
        92% 6.48%,
        94% 6.29%,
        96% 6.26%,
        98% 6.39%,
        100% 6.69%
      );
    }
  }

  @keyframes glow {
    0% {
      box-shadow: 0px 0px 20px 3px rgba(118, 196, 255, 0.3);
    }
    100% {
      box-shadow: 0px 0px 20px 3px rgba(118, 196, 255, 0.5);
    }
  }

  @keyframes spotlight-glow-white {
    0% {
      opacity: 0.1;
      transform: translate(100px, -180px);
    }
    50% {
      opacity: 0.3;
    }
    80% {
      transform: translate(20px, 0px);
    }
    100% {
      opacity: 0.5;
    }
  }

  @keyframes spotlight-glow-middle {
    0% {
      opacity: 0.1;
      transform: translate(30px, -180px);
    }
    30% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.3;
      transform: translate(10px, -50px);
    }
    100% {
      opacity: 0.5;
    }
  }

  @keyframes spotlight-glow-blue {
    0% {
      opacity: 0;
      transform: translate(30px, -180px);
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 0.2;
    }
  }

  @keyframes glow-move {
    0% {
      scale: 1.1;
    }
    100% {
      scale: 0.95;
    }
  }

  @keyframes glow-breathe {
    0% {
      opacity: 1;
      filter: blur(40px);
    }
    50% {
      opacity: 0.5;
      filter: blur(20px);
      text-shadow:
        0 0 0px var(--main-light-blue),
        0 0 0px var(--main-light-blue);
    }
    100% {
      opacity: 1;
      filter: blur(40px);
    }
  }

  @keyframes text-glow-breathe {
    0% {
      opacity: 1;
      filter: blur(0.6px);
    }
    50% {
      opacity: 0.9;
      filter: blur(0px);
    }
    100% {
      opacity: 1;
      filter: blur(0.6px);
    }
  }

  @keyframes btn-bg-move-gradient {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-4px);
    }
    40% {
      transform: translateX(4px);
    }
    60% {
      transform: translateX(-4px);
    }
    80% {
      transform: translateX(4px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
