@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
@import "tailwindcss";

@theme {
  --noto-sans: "Noto Sans", sans-serif;
  --electrolize: "Electrolize", sans-serif;
  --arvo: "Arvo", serif;
  --bg: #111111;
  --white: #eef2f6;
  /* apply this white to everything that should have it */
  --gray: #babbbd;
  --main-light-blue: #76c4ff;
  --main-dark-blue: rgb(51, 78, 98);
  --main-dark-blue-40: rgba(51, 78, 98, 0.4);
  --main-dark-blue-70: rgba(51, 78, 98, 0.7);

  --main-button-gradient: linear-gradient(to right, #7696ff, #1f4ad6);
  --button-gradient: linear-gradient(
    to right,
    rgba(10, 49, 78, 0.5),
    #0a314e,
    rgba(10, 49, 78, 0.5)
  );
}

@layer base {
  body {
    color: var(--white);
    background-color: var(--bg);
    font-family: var(--arvo);
    overflow: scroll;
    overflow-x: hidden;
  }
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}

.app-container {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg);
  background: linear-gradient(180deg, #06141f 0%, #01090f 100vh, #000407 200vh);
}

@layer utilities {
  .electrolize {
    font-family: var(--electrolize);
  }
  .noto-sans {
    font-family: var(--noto-sans);
  }

  .arvo {
    font-family: var(--arvo);
  }

  .main-btn {
    @apply flex items-center text-(--white) [background-image:var(--main-button-gradient)] w-fit py-3 pl-12 px-10 rounded-4xl hover:cursor-pointer;
    background-size: 150% 100%; /* make it bigger than the button */
    background-position: 0% 0%;
    animation: btn-bg-move-gradient 6s ease-in-out infinite reverse;
  }

  .action-btn {
    @apply flex items-center justify-center text-(--white) border-(--main-dark-blue) [background-image:var(--button-gradient)] hover:cursor-pointer hover:border-[#a4c1d6] transition-colors duration-500 ease-in-out;
  }

  .input-box {
    @apply rounded-sm border-2 border-(--main-dark-blue-40) bg-[#04121C] flex items-center focus:border-(--main-dark-blue-70) focus-within:border-(--main-dark-blue-70) transition-colors duration-300 ease-in-out;
  }

  .checkbox {
    @apply h-5 w-5 flex items-center justify-center relative cursor-pointer border border-(--main-dark-blue-40) rounded-sm bg-[#081b29] hover:border-(--main-dark-blue-70);
  }

  .features-card {
    @apply z-10 flex flex-col w-70 mx-8 border  border-[#031725] rounded-md p-7 bg-[#ffffff] text-(--white);
    background: linear-gradient(200deg, #010e18 0%, #01090f 50%, #000407 100%);
    background-size: 150% 100%;
  }

  .icon-box {
    @apply border border-[#fff0] rounded-md w-fit p-1.5 mb-1 transition-all duration-300 ease-in-out group-hover:bg-blue-300/20 group-hover:border-(--main-light-blue) group-hover:shadow-[0px_0px_20px_10px_#76c4ff1e];
  }

  .features-card:hover {
    box-shadow: 0px 0px 20px 10px #76c4ff07;
    background-position: 100% 0%;
  }

  .hero-text-glow {
    text-shadow: 0 0 30px var(--main-light-blue), 0 0 5px var(--main-light-blue);
    animation: text-glow-breathe 5s ease-in-out infinite alternate;
  }

  .hero-glow {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -20%); /* tweak vertical offset as needed */
    width: 140vw; /* slight overflow ensures full bleed on all screens */
    height: 120px; /* adjust height to match visual */
    background: radial-gradient(
      ellipse at center,
      rgba(74, 155, 218, 0.2) 60%,
      rgba(77, 148, 202, 0.12) 50%,
      rgba(77, 149, 204, 0.06) 50%,
      transparent 70%
    );
    filter: blur(40px);

    animation: glow-move 14s ease-in-out infinite alternate,
      glow-breathe 7s ease-in-out infinite alternate;
  }

  .card-glow:hover {
    @apply border-(--main-light-blue) bg-none z-0 transition-all duration-500 ease-in-out;
    -webkit-box-shadow: 0px 0px 200px 10px var(--main-light-blue);
    -moz-box-shadow: 0px 0px 200px 10px var(--main-light-blue);
    box-shadow: 0px 0px 180px 5px var(--main-light-blue);
  }

  .glow-white-default {
    @apply -top-70 opacity-40 absolute h-100  w-0 z-20;
    transform: rotate(20deg);
    box-shadow: 0px 0px 200px 25px var(--white);
    animation: spotlight-glow-white 8s linear infinite alternate;
  }

  .delayed-white-glow {
    animation-delay: 3s;
  }

  .glow-blue-default {
    @apply -top-60 absolute h-100 w-0 opacity-10 z-20;
    transform: rotate(20deg);
    box-shadow: 0px 0px 130px 80px var(--main-light-blue);
    animation: spotlight-glow-blue 6s linear infinite alternate;
  }

  .delayed-blue-glow {
    animation-delay: 1s;
  }

  .glow-middle {
    @apply left-[51vw] -top-10 opacity-30 absolute h-100  w-0 z-20;
    transform: rotate(10deg);
    box-shadow: 0px 0px 600px 100px var(--main-light-blue);
    animation-delay: 500ms;
    animation: spotlight-glow-middle 6s linear infinite alternate;
  }

  @keyframes spotlight-glow-white {
    0% {
      opacity: 0.1;
      box-shadow: -30px 0px 200px 40px var(--white);
    }
    50% {
      opacity: 0.4;
      box-shadow: -15px 0px 200px 25px var(--white);
    }
    100% {
      opacity: 0.5;
      box-shadow: 0px 0px 200px 30px var(--white);
    }
  }

  @keyframes spotlight-glow-middle {
    0% {
      opacity: 0.2;
      box-shadow: 60px -50px 600px 300px var(--main-light-blue);
    }
    50% {
      opacity: 0.3;
      box-shadow: 30px -30px 600px 100px var(--main-light-blue);
    }
    100% {
      opacity: 0.4;
      box-shadow: -10px 0px 600px 110px var(--main-light-blue);
    }
  }

  @keyframes spotlight-glow-blue {
    0% {
      opacity: 0.05;
      box-shadow: 60px -60px 130px 400px var(--main-light-blue);
    }
    50% {
      opacity: 0.1;
      box-shadow: 20px -20px 130px 200px var(--main-light-blue);
    }
    100% {
      opacity: 0.2;
      box-shadow: -10px 5px 130px 90px var(--main-light-blue);
    }
  }

  @keyframes glow-move {
    0% {
      scale: 1.1;
    }
    100% {
      scale: 0.95;
    }
  }

  @keyframes glow-breathe {
    0% {
      opacity: 1;
      filter: blur(40px);
    }
    50% {
      opacity: 0.5;
      filter: blur(20px);
      text-shadow: 0 0 0px var(--main-light-blue),
        0 0 0px var(--main-light-blue);
    }
    100% {
      opacity: 1;
      filter: blur(40px);
    }
  }

  @keyframes text-glow-breathe {
    0% {
      opacity: 1;
      filter: blur(0.6px);
    }
    50% {
      opacity: 0.9;
      filter: blur(0px);
    }
    100% {
      opacity: 1;
      filter: blur(0.6px);
    }
  }

  @keyframes btn-bg-move-gradient {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
}
